# Dependencies
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# PyInstaller / Build outputs
build/
*.spec
dist/*
!dist/ANTI.exe

# Config local
config.json
scans_admin/

# Web (repo séparé)
web/

# Server
server/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
